.separator_image{
  height:110px;
  border-top-left-radius: 3.5em;
  box-shadow: inset 10px 10px 80px 10px rgba(42,68,68,0.2);
}
.separator_down{
  height:50px;
  border-top-left-radius: 4em;
  border-bottom-right-radius: 3.7em;
  box-shadow: inset 10px 90px 100px 10px rgba(255,68,68,0.5);
  margin-top:20%;

  
}
.img-circle{
  width: 130px;
  height: 130px;
  margin-top:-18%;
  border-radius: 60%;
  background-position: center center;
  background-size: cover;
  box-shadow:  2px 14px 26px 2px rgba(25,50,51,0.74);

}

#curve_card{
  border-radius: 15% 2%;
  box-shadow: inset 10px 10px 80px 10px rgba(215,68,68,0.3);
  margin-left: auto ;
  margin-right: auto ;
}
