<!DOCTYPE HTML>
<html>
  <head>
    {%- include "include/header.html" %}
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-inverse bg-inverse">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md the-navbar" id="navbarResponsive">
          <a class="navbar-brand" href="#">Navbar</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline float-lg-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="the-blur"></div>
    </nav>
    
    <div class="col-md-12" style=" background: #466368;background: radial-gradient(#648880, #293f50);color:#fff;">
      <div class="col-md-6">
        <div class="col-md-9">
          <h1>custom color</h1>
            <h5>button</h5>
            <button type="button" class= "thedark zon-nice_light " data-huebee  id="target" >normal btn</button>&nbsp;&nbsp;
            <button type="button" class= "thedark btn_happy_shadow custom2 " data-huebee >shadow btn</button>&nbsp;&nbsp;
            <button type="button" class= "thedark btn_nice_trans custom3 " data-huebee  id="other">curve btn</button>&nbsp;&nbsp;
            <hr>
            <button type="button" class= "thedark zon-nice_light set-bg-elem" id="target" >button</button>
            <button type="button" class= "thedark btn_happy_shadow custom2 set-bg-elem"  id="target">buttpn</button>
            <button type="button" class= "thedark btn_nice_trans custom3 set-bg-elem" id="other">buttpn</button>
            
            
            

        </div>
          <!-- add class to anchor to set background-color of anchor as well -->
        <div class="col-md-3">
          <input class="color-button form-control" value="choose color" />
        </div>
    </div>
       <!-- <img class="bg" src="src/images/ako.jpg"> -->
        <div class="overlay">
            <div class="row">
              <b class="b">normal button</b>
              <div class="containers" style="margin-left: 3%;">
                <div class="col-md-6">
              {% macro btn(class,name,class2,name2,class3,name3,class4,name4) -%}
                    <div class="rows">
                    <button type="button" class= "thedark {{class}} thedark-lg">{{name}}</button><br><br>
                    <button type="button" class= "thedark {{class2}}">{{name2}}</button>
                    <button type="button" class= "thedark {{class3}}">{{name3}}</button>
                    <button type="button" class= "thedark {{class4}} thedark-sm">{{name4}}</button><br><br>
                    </div>
                  {%- endmacro %}
                  {{btn("zon-nice_light","nice_light thedark-lg","zon-nice","nice","zon-nice_light","nice_light","zon-nice_light","nice_light thedark-sm")}}
                  {{btn("zon-wow_light","wow_light thedark-lg","zon-wow","wow","zon-wow_light","wow_light","zon-wow_light","wow_light thedark-sm")}}
                  {{btn("zon-angry_light","angry_light thedark-lg","zon-angry","angry","zon-angry_light","angry_light","zon-angry_light","angry_light thedark-sm")}}
                  {{btn("zon-sexy_light","sexy_light thedark-lg","zon-sexy","nice","zon-sexy_light","sexy_light","zon-sexy_light","sexy_light thedark-sm")}}
                  {{btn("zon-happy_light","happy_light thedark-lg","zon-happy","happy","zon-happy_light","happy_light","zon-happy_light","happy_light thedark-sm")}}
                  {{btn("zon-thedark_light","thedark_light thedark-lg","zon-thedark","nice","zon-thedark_light","thedark_light","zon-thedark_light","thedark_light thedark-sm")}}
                  {{btn("thedark","normal","thedark","normal","thedark","normal","thedark","normal")}}
                  <br><br>
                  <hr>
                  button effect<br>
                  {% macro btneffect(className,btn_name) -%}
                    <button type="button" class= "thedark {{className}}">{{btn_name}}</button>
                  {%- endmacro %}
                  {{btneffect("btn_happy_shadow","button")}}  
                  {{btneffect("btn_angry_shadow","button")}}
                  {{btneffect("btn_wow_shadow","button")}}
                  {{btneffect("btn_nice_shadow","button")}}
                  {{btneffect("btn_angry_shadow","button")}}
                  {{btneffect("btn_wow_shadow","button")}}
                  {{btneffect("btn_sexy_shadow","button")}}
                  {{btneffect("btn_dark_shadow","button")}}<br><br>
                  {{btneffect("btn_sexy_trans","button")}}
                  {{btneffect("btn_wow_trans","button")}}
                  {{btneffect("btn_nice_trans","button")}}
                  {{btneffect("btn_angry_trans","button")}}
                  {{btneffect("btn_happy_trans","button")}}
                  {{btneffect("btn_dark_trans","button")}}<br><br>
        
               </div>
                <div class="col-md-12">
                  <h3>Card sample</h3>
                  <div class="container">
                  <div class="card-deck-wrapper" style="color:#000;">
                      <div class="card-deck">
                        <div class="card">
                        
                            <img class="card-img-top img-fluid" src="src/images/cute.jpg" alt="Card image cap">
                            <img class="img-circle " src="src/images/cute.jpg" alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          </div>
                        </div>
                        <div class="card card-outline-info " id="curve_card">
                            <div class="separator_image"></div>
                             <img class="img-circle " src="src/images/cute.jpg" alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                          </div>
                          <div class="separator_down"></div>
                        </div>
                        
                        <div class="card">
                            <img class="card-img-top img-fluid" src="src/images/cute.jpg" alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                          </div>
                        </div>
                      </div>
                    </div>
               </div>
            </div>
        </div>
      </div>
    </div>

      <!-- <div class="divider" style="background:#000;" ></div>
      <section class="bg-2">
       <div class="container">
          <hr>
            <div class="row">
            {% macro round_b(info,body_info)%}
                <div class="col-md-4">
                  <div class="container">
                    <div class="chartBottom">
                      <h4>{{info}}</h4>
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                      <p>{{body_info}}</p>
                  </div>
                </div>
            {% endmacro %}
            
            {{round_b("Info","(fertilizer,water, pest, rice)")}}
            {{round_b("variety","seeds info")}}
            {{round_b("age","calculate the rice")}}
            </div>
          	<div class="row">
        	    <div class="col-md-12"><h1 class="title_choose">select a task</h1></div>
            </div>
        </div>
      </section>
      <div class="divider"></div>
      <div class="container" style="z-index:9999;">
        <div class="row">
        {% macro foo(header, body) -%}
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>{{header}}</h3></div>
              <div class="panel-body">
                {{body}}
              </div>
              <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
            </div>
          </div>
        {%- endmacro %}
          {{ foo("the dark",
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  ")}} 
          {{ foo( "yes","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  ") }}
          {{ foo( "yes","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  ") }}
        </div>    
      </div> 
      parallax 2-->
      <!--<div id="footer">-->
      <!--  <div class="container">-->
      <!--    <p class="text-muted">sample only for activity2 <a href="https://jira.toro.io">toro.io</a></p>-->
      <!--  </div>-->
      <!--</div>-->

    {% include "js/connector.js" %}

  </body>
</html>