  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dark</title>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
  <link class="localLinks" href="app/assets/css/app.css" rel="stylesheet">

  <link class="localLinks" href="app/assets/css/bootstrap.min.css" rel="stylesheet">

  

