<!DOCTYPE HTML>
<html>
  <head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dark</title>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
  <link class="localLinks" href="app/assets/css/app.css" rel="stylesheet">

  <link class="localLinks" href="app/assets/css/bootstrap.min.css" rel="stylesheet">

  


  </head>
  <body>
    <nav class="navbar navbar-dark navbar-inverse bg-inverse">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md the-navbar" id="navbarResponsive">
          <a class="navbar-brand" href="#">Navbar</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline float-lg-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="the-blur"></div>
    </nav>
    
    <div class="col-md-12" style=" background: #466368;background: radial-gradient(#648880, #293f50);color:#fff;">
      <div class="col-md-6">
        <div class="col-md-3">
          <div class="controls"><a class="up">up</a> | <a class="down">down</a></div>
          <div id="slider"></div>
           background
      <input type="color" class="btn btn-info" id="picker" placeholder=""> <br>
        text<br>
        <input type="color" class="btn btn-info" id="pickertext" placeholder=""> <br>
         shadow<br>
        <input type="color" class="btn btn-info" id="pickerShadow" placeholder=""><br><br><br> 
        pickerBackground
        <input type="color" class="btn btn-info" id="pickerBorder" placeholder=""> 
        pickerBordertext
        <input type="color" class="btn btn-info" id="pickerBordertext" placeholder=""> 
    </div>
      <!-- add class to anchor to set background-color of anchor as well -->
    <div class="col-md-9">
       <h1>custom color</h1>
            <h5>button</h5>
            <button type="button" class= "thedark zon-nice_light " id="c" data-huebee >normal btn</button>&nbsp;&nbsp;
            <button type="button" class= "thedark zon-nice_light" >button</button>
            <button type="button" class= "btn btn-outline-info simple_button" >button</button>
            <button type="button" class= "btn btn-outline-info zigzag_button" >button</button>
            <hr>
             <h5>button effect</h5>
            <button type="button" class= "thedark btn_happy_shadow">buttpn</button>
            <button type="button" class= "thedark btn_nice_trans" >buttpn</button><br><br><br><br>
            
              <h5>Table</h5>
            <table class="table table_dark">
              <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
              </tbody>
            </table>
              <h5>normal table bootraps</h5>
              <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
              </tbody>
            </table>
        </div>
     </div>
     <div class="col-md-6">
      <div class="card card-outline-info text-xs-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
              <p id="result">copy paste here ...code generate</p>
            </blockquote>
          </div>
        </div>
      </div>
       <!-- <img class="bg" src="src/images/ako.jpg"> -->
      <div class="containers" style="margin-left: 3%;">
        <div class="col-md-12">
          <h3>Card sample</h3>
            <div class="container">
              <div class="card-deck-wrapper" style="color:#000;">
                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top img-fluid" src="src/images/cute.jpg" alt="Card image cap">
                    <img class="img-circle " src="src/images/cute.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                  <div class="card card-outline-info " id="curve_card">
                    <div class="separator_image"></div>
                     <img class="img-circle " src="src/images/cute.jpg" alt="Card image cap">
                      <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    <div class="separator_down"></div>
                  </div>
                  <div class="card card-outline-info" id="dar">
                    <img class="card-img-top img-fluid " id="img2" src="src/images/cute.jpg" alt="Card image cap">
                      <div class="card-block">
                      <h4 class="card-title">Card title</h4>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="col-md-12">
            button effect<br>
            
             <button type="button" class= "thedark btn_sexy_trans">button</button>
            <button type="button" class= "thedark btn_wow_trans">button</button>
            <button type="button" class= "thedark btn_nice_trans">button</button>
            <button type="button" class= "thedark btn_angry_trans">button</button>
            <button type="button" class= "thedark btn_happy_trans">button</button>
            <button type="button" class= "thedark btn_dark_trans">button</button><br><br>
            <button type="button" class= "thedark btn_happy_shadow">button</button>  
            <button type="button" class= "thedark btn_angry_shadow">button</button>
            <button type="button" class= "thedark btn_wow_shadow">button</button>
            <button type="button" class= "thedark btn_nice_shadow">button</button>
            <button type="button" class= "thedark btn_angry_shadow">button</button>
            <button type="button" class= "thedark btn_wow_shadow">button</button>
            <button type="button" class= "thedark btn_sexy_shadow">button</button>
            <button type="button" class= "thedark btn_dark_shadow">button</button><br><br>
            <hr>
            <b class="b">normal button</b>
        
            <div class="rows">
              <button type="button" class= "thedark zon-nice_light thedark-lg">nice_light thedark-lg</button>
              <button type="button" class= "thedark zon-nice">nice</button>
              <button type="button" class= "thedark zon-nice_light">nice_light</button>
              <button type="button" class= "thedark zon-nice_light thedark-sm">nice_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark zon-wow_light thedark-lg">wow_light thedark-lg</button>
              <button type="button" class= "thedark zon-wow">wow</button>
              <button type="button" class= "thedark zon-wow_light">wow_light</button>
              <button type="button" class= "thedark zon-wow_light thedark-sm">wow_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark zon-angry_light thedark-lg">angry_light thedark-lg</button>
              <button type="button" class= "thedark zon-angry">angry</button>
              <button type="button" class= "thedark zon-angry_light">angry_light</button>
              <button type="button" class= "thedark zon-angry_light thedark-sm">angry_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark zon-sexy_light thedark-lg">sexy_light thedark-lg</button>
              <button type="button" class= "thedark zon-sexy">nice</button>
              <button type="button" class= "thedark zon-sexy_light">sexy_light</button>
              <button type="button" class= "thedark zon-sexy_light thedark-sm">sexy_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark zon-happy_light thedark-lg">happy_light thedark-lg</button>
              <button type="button" class= "thedark zon-happy">happy</button>
              <button type="button" class= "thedark zon-happy_light">happy_light</button>
              <button type="button" class= "thedark zon-happy_light thedark-sm">happy_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark zon-thedark_light thedark-lg">thedark_light thedark-lg</button>
              <button type="button" class= "thedark zon-thedark">nice</button>
              <button type="button" class= "thedark zon-thedark_light">thedark_light</button>
              <button type="button" class= "thedark zon-thedark_light thedark-sm">thedark_light thedark-sm</button>
              </div><br>
            <div class="rows">
              <button type="button" class= "thedark thedark thedark-lg">normal</button>
              <button type="button" class= "thedark thedark">normal</button>
              <button type="button" class= "thedark thedark">normal</button>
              <button type="button" class= "thedark thedark thedark-sm">normal</button>
              </div><br>
            <br><br>
         </div>
  </div>

   

      <!-- <div class="divider" style="background:#000;" ></div>
      <section class="bg-2">
       <div class="container">
          <hr>
            <div class="row">
            
            
            
                <div class="col-md-4">
                  <div class="container">
                    <div class="chartBottom">
                      <h4>Info</h4>
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                      <p>(fertilizer,water, pest, rice)</p>
                  </div>
                </div>
            
            
                <div class="col-md-4">
                  <div class="container">
                    <div class="chartBottom">
                      <h4>variety</h4>
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                      <p>seeds info</p>
                  </div>
                </div>
            
            
                <div class="col-md-4">
                  <div class="container">
                    <div class="chartBottom">
                      <h4>age</h4>
                      <i class="fa fa-thumbs-up"></i>
                    </div>
                      <p>calculate the rice</p>
                  </div>
                </div>
            
            </div>
          	<div class="row">
        	    <div class="col-md-12"><h1 class="title_choose">select a task</h1></div>
            </div>
        </div>
      </section>
      <div class="divider"></div>
      <div class="container" style="z-index:9999;">
        <div class="row">
        
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>the dark</h3></div>
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  
              </div>
              <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
            </div>
          </div> 
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>yes</h3></div>
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  
              </div>
              <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>yes</h3></div>
              <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
                  
              </div>
              <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
            </div>
          </div>
        </div>    
      </div> 
      parallax 2-->
      <!--<div id="footer">-->
      <!--  <div class="container">-->
      <!--    <p class="text-muted">sample only for activity2 <a href="https://jira.toro.io">toro.io</a></p>-->
      <!--  </div>-->
      <!--</div>-->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
 <script class="localJSAssets" src="app/assets/js/tether.js"></script>
 <script src="https://unpkg.com/huebee@1/dist/huebee.pkgd.min.js"></script>


 <script class="localJSAssets" src="app/assets/js/paralex.js"></script>
 <script class="localJSAssets" src="app/assets/js/bootstrap.min.js"></script>
 <script class="localJSAssets" src="Gulpfile.js"></script>
 <script class="localJSAssets" src="app/assets/js/action.js"></script>
     <script>
      var directoryName = 'project/'.toLowerCase();
      var baseUrl = window.location.href.slice(0, window.location.href.indexOf(directoryName)) + directoryName; 
         window.onload = function() {
        var links = document.getElementsByClassName('localLinks'); 
        var scripts = document.getElementsByClassName('localJSAssets');
        var images = document.getElementsByTagName('img');
        var allScripts = [];
        
        for (var i = 0; i < images.length; i++) {
          images[i].src = `${baseUrl}${images[i].getAttribute('src')}`;
        }
        
        for (var i = 0; i < links.length; i++) {
          links[i].href = baseUrl + links[i].getAttribute('href');
        }
        
        for (var i = 0; i < scripts.length; i++) {
          allScripts.push(scripts[i]);
        }
        
        for (var i = 0; i < allScripts.length; i++) {
       
          var script = document.createElement('script'); 
          script.src = baseUrl + allScripts[i].getAttribute('src');
          // script.classList.add('localJSAssets')
          document.getElementsByTagName('body')[0].appendChild(script);
          var paras = document.getElementsByClassName('localJSAssets');
          while(paras[0]) {
              paras[0].parentNode.removeChild(paras[0]);
          }
        }
      }
  </script>

  </body>
</html>