<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dark</title>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
  <link class="localLinks" href="app/assets/css/app.css" rel="stylesheet">

  <link class="localLinks" href="app/assets/css/bootstrap.min.css" rel="stylesheet">

  


  </head>
   <body>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
 <script class="localJSAssets" src="app/assets/js/tether.js"></script>
 <script src="https://unpkg.com/huebee@1/dist/huebee.pkgd.min.js"></script>


 <script class="localJSAssets" src="app/assets/js/paralex.js"></script>
 <script class="localJSAssets" src="app/assets/js/bootstrap.min.js"></script>
 <script class="localJSAssets" src="Gulpfile.js"></script>
 <script class="localJSAssets" src="app/assets/js/action.js"></script>
     <script>
      var directoryName = 'project/'.toLowerCase();
      var baseUrl = window.location.href.slice(0, window.location.href.indexOf(directoryName)) + directoryName; 
         window.onload = function() {
        var links = document.getElementsByClassName('localLinks'); 
        var scripts = document.getElementsByClassName('localJSAssets');
        var images = document.getElementsByTagName('img');
        var allScripts = [];
        
        for (var i = 0; i < images.length; i++) {
          images[i].src = `${baseUrl}${images[i].getAttribute('src')}`;
        }
        
        for (var i = 0; i < links.length; i++) {
          links[i].href = baseUrl + links[i].getAttribute('href');
        }
        
        for (var i = 0; i < scripts.length; i++) {
          allScripts.push(scripts[i]);
        }
        
        for (var i = 0; i < allScripts.length; i++) {
       
          var script = document.createElement('script'); 
          script.src = baseUrl + allScripts[i].getAttribute('src');
          // script.classList.add('localJSAssets')
          document.getElementsByTagName('body')[0].appendChild(script);
          var paras = document.getElementsByClassName('localJSAssets');
          while(paras[0]) {
              paras[0].parentNode.removeChild(paras[0]);
          }
        }
      }
  </script>
  </body>
</html>