<!DOCTYPE HTML>
<html>
  <head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dark</title>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
  <link class="localLinks" href="app/assets/css/app.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Kumar+One|Indie+Flower|Caveat|Permanent+Marker|Rock+Salt">
  <link class="localLinks" href="app/assets/css/bootstrap.min.css" rel="stylesheet">

  


  </head>
  <body>
    <nav class="navbar navbar-dark navbar-inverse bg-inverse">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md the-navbar" id="navbarResponsive">
          <a class="navbar-brand" href="#">Navbar</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline float-lg-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <div class="the-blur"></div>
     </nav>

      
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script class="localJSAssets" src="app/assets/js/tether.js"></script>
<script src="https://unpkg.com/huebee@1/dist/huebee.pkgd.min.js"></script>
<script class="localJSAssets" src="app/assets/js/paralex.js"></script>
<script class="localJSAssets" src="app/assets/js/bootstrap.min.js"></script>
<script class="localJSAssets" src="Gulpfile.js"></script>
 <script class="localJSAssets" src="app/assets/js/action.js"></script>
     <script>
      var directoryName = 'project/'.toLowerCase();
      var baseUrl = window.location.href.slice(0, window.location.href.indexOf(directoryName)) + directoryName; 
         window.onload = function() {
        var links = document.getElementsByClassName('localLinks'); 
        var scripts = document.getElementsByClassName('localJSAssets');
        var images = document.getElementsByTagName('img');
        var allScripts = [];
        
        for (var i = 0; i < images.length; i++) {
          images[i].src = `${baseUrl}${images[i].getAttribute('src')}`;
        }
        
        for (var i = 0; i < links.length; i++) {
          links[i].href = baseUrl + links[i].getAttribute('href');
        }
        
        for (var i = 0; i < scripts.length; i++) {
          allScripts.push(scripts[i]);
        }
        
        for (var i = 0; i < allScripts.length; i++) {
       
          var script = document.createElement('script'); 
          script.src = baseUrl + allScripts[i].getAttribute('src');
          // script.classList.add('localJSAssets')
          document.getElementsByTagName('body')[0].appendChild(script);
          var paras = document.getElementsByClassName('localJSAssets');
          while(paras[0]) {
              paras[0].parentNode.removeChild(paras[0]);
          }
        }
      }
  </script>

  </body>
</html>