<!DOCTYPE HTML>
<html>
  <head>  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>dark</title>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/huebee@1/dist/huebee.min.css">
  <link class="localLinks" href="app/assets/css/app.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine|Kumar+One|Indie+Flower|Caveat|Permanent+Marker|Rock+Salt">
  <link class="localLinks" href="app/assets/css/bootstrap.min.css" rel="stylesheet">

  


  </head>
  <body class="other">
    <nav class="navbar navbar-dark  i">
      <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-md the-navbar" id="navbarResponsive">
          <a class="navbar-brand" href="#">Thedark</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">zonass_03@yahoo.com</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline float-lg-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
     </nav>
       <div class="container-fluid container_other">
  <div class="row">
    <div class="col-md-3 card">
      d
    </div>
     <div class="col-md-4 ">
      <div class="card card-outline-info text-xs-center card_1" id="list1">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>customize preview</p>
            
            
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-info text-xs-center card_2">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>control what u want</p>
              <div class="col-md-12">
                <div class="col-md-6">
                  border-top-left-radius 
                  <div class="slideq" id="slider6"></div>
                  border-top-right-radius
                  <div class="slideq" id="slider7"></div>
                  border-bottom-left-radius
                  <div class="slideq" id="slider8"></div>
                  border-bottom-left-radius
                  <div class="slideq" id="slider9"></div>
                   font size 
                 <div class="slideq" id="slider"></div>
                    
                </div>
                <div class="col-md-6">
                  border
                  <div class="slideq" id="slider5"></div>
                   font weight 
                 <div class="slideq" id="slider3"></div> 
                  font family
                   <select class="selectpicker form-control slideq" id="fs">
                     <option value="Arial">Arial</option>
                      <option value="Verdana ">Verdana </option>
                      <option value="Impact ">Impact </option>
                      <option value="Comic Sans MS">Comic Sans MS</option>
                      <option value="Lucida Sans Unicode">Lucida Sans Unicode</option>
                      <option value="Tahoma ">Tahoma </option>
                      <option value="" disabled>google font</option>
                      <option value="Tangerine">Tangerine</option>
                      <option value="Kumar One">Kumar One</option>
                      <option value="Indie Flower">Indie Flower </option>
                      <option value="Caveat">Caveat </option>
                      <option value="Permanent Marker">Permanent Marker</option>
                      <option value="Rock Salt">Rock Salt</option>
                   </select>
                </div>
                
                
              </div>
              
            
            <footer>tips be smart <cite title="Source Title">to make your work very nice</cite></footer>
          </blockquote>
        </div>
      </div>
      
    </div>
     <div class="col-md-4 ">
      <div class="card card-outline-info  card_code">
        <div class="card-block">
          <blockquote class="card-blockquote">
             <p id="result">copy paste here ...code generate</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-info  card_code2" id="list1">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>UIkit components sample</p>
              <h6>button</h6>
            <button type="button" class= "thedark zon-nice_light" >button</button>
            <button type="button" class= "btn btn-outline-info simple_button" >button</button>
             <h6>button effect</h6>
            <button type="button" class= "thedark btn_happy_shadow">buttpn</button>
            <button type="button" class= "btn btn-outline-info zigzag_button" >button</button>
            <button type="button" class= "thedark btn_nice_trans" >buttpn</button>
          </blockquote>
        </div>
      </div>
    </div>
     <div class="col-md-1 card">
        
    </div>
    </div>
  </div>
    
    
    
    
    <!-- footer -->
    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="col-xs-12  hidden-md-down">
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >Button</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >Table</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >Label</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >cards</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >Navbar</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          <div class="col-md-1 label_off">
            <label class="label label-info label_button" >search</label>
             <img src="src/images/hologram/MyPC.png" class="iimage">
          </div>
          
        </div>
       <div class="extendfooter hidden-md-down" ></div>

      </div>
    </div>


      
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script class="localJSAssets" src="app/assets/js/tether.js"></script>
<script src="https://unpkg.com/huebee@1/dist/huebee.pkgd.min.js"></script>
<script class="localJSAssets" src="app/assets/js/paralex.js"></script>
<script class="localJSAssets" src="app/assets/js/bootstrap.min.js"></script>
<script class="localJSAssets" src="Gulpfile.js"></script>
 <script class="localJSAssets" src="app/assets/js/action.js"></script>
     <script>
      var directoryName = 'project/'.toLowerCase();
      var baseUrl = window.location.href.slice(0, window.location.href.indexOf(directoryName)) + directoryName; 
         window.onload = function() {
        var links = document.getElementsByClassName('localLinks'); 
        var scripts = document.getElementsByClassName('localJSAssets');
        var images = document.getElementsByTagName('img');
        var allScripts = [];
        
        for (var i = 0; i < images.length; i++) {
          images[i].src = `${baseUrl}${images[i].getAttribute('src')}`;
        }
        
        for (var i = 0; i < links.length; i++) {
          links[i].href = baseUrl + links[i].getAttribute('href');
        }
        
        for (var i = 0; i < scripts.length; i++) {
          allScripts.push(scripts[i]);
        }
        
        for (var i = 0; i < allScripts.length; i++) {
       
          var script = document.createElement('script'); 
          script.src = baseUrl + allScripts[i].getAttribute('src');
          // script.classList.add('localJSAssets')
          document.getElementsByTagName('body')[0].appendChild(script);
          var paras = document.getElementsByClassName('localJSAssets');
          while(paras[0]) {
              paras[0].parentNode.removeChild(paras[0]);
          }
        }
      }
  </script>

  </body>
</html>